In [1]:
import numpy as np 
import pandas as pd

In [27]:
arr = np.array([[1,2,3]
                    ,[4,5,6], 
                [7,8,9]]
                )
arr

9

In [29]:
np.random.randn(4,2,2)

array([[[ 0.76902257,  1.24643474],
        [ 1.00718936, -1.29622111]],

       [[ 0.27499163,  0.22891288],
        [ 1.35291684,  0.88642934]],

       [[-2.00163731, -0.37184254],
        [ 1.66902531, -0.43856974]],

       [[-0.53974145,  0.47698501],
        [ 3.24894392, -1.02122752]]])

In [35]:
columns = ['name','age','gender']

df1 = pd.DataFrame([['Lu',10,'F'],
                    ['Luzy',17,'M']],
                   columns = columns)

   name  age gender
0    Lu   10      F
1  Luzy   17      M

In [44]:
for i in range(df1.shape[0]):
    row = df1.iloc[i]
    row.age *= 100 # setting a copy, and not the original frame data.
# print(df1) # df is not modified
    print(row)

# print(row)

name        Lu
age       1000
gender       F
Name: 0, dtype: object
name      Luzy
age       1700
gender       M
Name: 1, dtype: object

In [52]:
print(df1.groupby('name').describe(include='all'))

       age                                                    ... gender      \
     count unique top freq  mean std   min   25%   50%   75%  ... unique top
name                                                          ...
Lu     1.0    NaN NaN  NaN  10.0 NaN  10.0  10.0  10.0  10.0  ...      1   F
Luzy   1.0    NaN NaN  NaN  17.0 NaN  17.0  17.0  17.0  17.0  ...      1   M


     freq mean  std  min  25%  50%  75%  max
name
Lu      1  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Luzy    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[2 rows x 22 columns]